<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
</style>

title{
     background-color: blue;
}

header{
    font-size: 30px;
}


:root {
  --hue-neutral: 600;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #e3dc1e,
}

body.correct {
   --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  text-align: center;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: #e3dc1e;
  outline: none;
}

.btn:hover {
  border-color: red;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: red;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.footer {
    font-size: 25px;
    color: blue;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0.5%;
}

.title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;

}

    
}
